snippet bd
	binding.pry
snippet pr
	require "pry"
snippet ser
	# frozen_string_literal: true

	class ${1:class_name}

		def initialize ${2:args}
		end

		def execute
		end

		private
		attr_reader ${3:attr}
	end

snippet benchmark
	require "benchmark/ips"

	class TestBench
		def fast
			${1}
		end

		def slow
			${2}
		end
	end

	test = TestBench.new

	Benchmark.ips do |x|
		x.report("faster") { test.fast }
		x.report("slower") { test.slow }
		x.compare!
	end

